*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    top: 0px;
    background-color: 	#56cffbd4;
    padding: 30px 10px 30px 10px;
    position: fixed;
    z-index: 10;
    width: 100%;
}
.link{
    display: flex;
    justify-content: center;
}
.link a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    border: solid 1.5px black;
    border-radius: 5px;
}
.link a:hover{
    background-color: #2b87d6f4;
    transition: all 1s 0s ease;
}
.link-u{
    padding-right: 30px;
}
.container {
  width: 100%;
}

.fv {
  height: 550px;
  overflow: hidden;
}

.swiper{
  width: 100%;
  overflow: hidden;
  height: inherit;
}

.swiper-slide{
  
  overflow: hidden;
}

.swiper-slide-active .swiper-slide__img,
.swiper-slide-duplicate-active .swiper-slide__img,
.swiper-slide-prev .swiper-slide__img {
  animation: zoom 5s linear .5s normal both;
}

.swiper-slide__img img {
  object-fit: cover;
  width: 100%;
  z-index: 1;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.naiyou .swiper-slide {
  flex-direction: column;
  align-items: center;
}

.nennpyou_u .swiper {
  overflow: hidden;
}

.nennpyou_u .swiper-slide {
  min-height: 400px;
  box-sizing: border-box;
  padding: 10px 20px;
  position: relative;
}
.title {
  position: absolute;
  z-index: 9;
  color: #E5F7FD;
  font-size: 80px;
  margin: 150px 0px 20px 10%;
  text-align: left;
}
li{
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}   
.shoukai_u {
  margin: 30px;
  font-size: 90%;
  color: black;
}
.naiyou{
  width: 100%;
  background-color: #b2e6f9d0;
} 
.nennpyou_u {
  position: relative;
  padding: 20px 0;
  min-height: 450px;
  width: 100%;
}

.main{
    display: flex;
    justify-content: center;
    border: solid black 2px;
    border-radius: 30px;
    padding: 10px;
    width: 50%;
    margin: 30px 50px;
    background-color: #48abcfd5;
    color: #E5F7FD;
}
/*.sub{
    display: flex;
    justify-content: center;
    border: solid black 2px;
    border-radius: 30px;
    padding: 10px;
    width: 30%;
    margin: 30px 30px;
    background-color: #488ccfd5;
    color: #E5F7FD;
}*/

.nennpyou_u p {
  text-align: center;
  font-size: 130%;
}

.nennpyou_u img {
  max-width: 30%;
  height: auto;
  display: block;
  margin: 20px auto;
}






